name: CI
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.19'
      - name: Build
        run: go build -o dummy-server.bin ./cmd
      - name: Test
        run: |
          # Простейший запуск и проверка
          timeout 30 ./dummy-server.bin &
          sleep 15
          curl -f -v http://localhost:8888
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: dummy-server-binary
          path: ./dummy-server.bin
